
h1, p {
  background-color: grey;
}



em, #nadruk {
  background-color: red;
  font-weight: bold;
}

h1 {
  color: white;
  margin-right: 10%;
  font-family: 'Codystar', cursive;
}

header {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  width: 960px;
  height: 150px;
}

#volgme {
  clear: both;
  float: right;
  margin-right: 5%;
}

p {
  font-size: 100%;
  font-family: 'Codystar', cursive;
  color: white;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
  align-items: center;
  margin-top: 30%;
  font-weight: bold;
  margin-right: 5%;
}

#About {
    font-size: 100%;
    font-family: 'Codystar', cursive;
    color: white;
    text-align: right;
    text-shadow: 5px 5px 7px #000000;
    align-items: center;
    margin-top: 300px;
    font-weight: bold;
    margin-right: 100px;
}

h3 {
  font-size: 100%;
  font-family: 'Codystar', cursive;
  color: white;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
  align-items: center;
  font-weight: bold;
  margin-right: 100px;
}

header h1 {

  font-size: 300%;
  font-family: 'Codystar', cursive;
  color: white;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
  align-items: center;
  margin-top: 400px;
  font-weight: bold;

}

* {
  margin: 0px;
  padding: 0px;

}


body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: gray url('../images/blokje.jpg') repeat;
}

ul {
  position: fixed;

}

ul li {
  list-style-type: none;
  font-size: 100%;
  font-family: 'Codystar', cursive;
  color: white;
  font-weight: bold;
  text-shadow: 5px 5px 7px #000000;
  margin-right: 5%
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;

}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

.sidebar {
  position: fixed;
  transition: 0.3s;
  color: transparent;
  height: 35px;
}

#sidebar1 {
  top: 100px;
}

#sidebar2 {
  top: 200px;
}

#sidebar3 {
  top: 300px;
}

#sidebar4 {
  top: 400px;
}

#sidebar5 {
  top: 500px;
}

.sidebar:hover {
  color: white;
}

.sideimg {
  height: 50px;
  padding-left: 3px;
  float: left;
}

.sidetxt {
  padding-left: 5px;
  float: left;
}

.contactpic {
  height: 50px;
  float: right;
  padding-right: 75px;
}
.contactpic1 {
  height: 75px;
  float: right;
  padding-right: 50px;
}

#badges{
  display: flex;
  justify-content: space-around;

}

a:link {
  text-decoration: none;
  color: lightblue;
}

a:visited{
  text-decoration: none;
  color: lightblue;
}
a:hover{
  text-decoration: none;
  color: blue;
}

p.ikbendaniel{
  font-size: 300%;
}

#more {display: none;}

.video{
  margin: auto;
  margin-top: 7%;
  margin-left: 17%;
}

.button {
  background-color: grey;
  border: none;
  font-size: 100%;
  font-family: 'Codystar', cursive;
  color: lightblue;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
  align-items: center;
  font-weight: bold;
}

p.dots{
  margin-top: auto;
}
